form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}

form > div {
    background-color: #f5f5f5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
    input {
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid black;
    }
    button {
        background-color: var(--jungle-teal);
        color: white;
        width: 8rem;
        padding: 8px;
        border-radius: 8px;
        font-weight: bold;
    }
}

#general {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.entry {
    border: 2px solid var(--prussian-blue);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    button {
        background-color: var(--dark-raspberry);
        width: 100%;
    }
}

textarea {
    resize: vertical;
}

label {
    display: flex;
    flex-direction: column;
}

#preview {
    background-image: url("/src/assets/images/topography.svg");
    background-color: #f5f5f5;
    padding: 1rem;
    display: flex;
    justify-content: center;
    max-width: 50%;
}


.previewCV {
    max-width: 100%;
    aspect-ratio: 1 / 1.4142; /* A4 */
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    padding: 2rem;
    font-family: "Carlito", 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2, h3 {
        color: var(--toffee-brown);
    }
}

.previewCV h2 {
    font-size: 2.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profession {
    font-size: 1.2rem;
}

.header > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.CVEntry {
    padding: 8px 0;
}

.CVEntry > div {
    display: flex;
    justify-content: space-between;
}

.CVEntry > p {
    padding: 8px;
}

@media (max-width: 1000px) {
  #root {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1rem;
  }

  form,
  #preview {
    flex: none;
  }

  form {
    width: 100%;
    overflow-y: visible;
    height: 100svh;
  }

  #preview {
    max-width: none;
    width: 100%;
    height: auto;
  }

  .previewCV {
    height: auto;
    width: 100%;
  }
}