form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}

form > div {
    background-color: #f5f5f5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
    input {
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid black;
    }
    button {
        background-color: var(--jungle-teal);
        color: white;
        width: 8rem;
        padding: 8px;
        border-radius: 8px;
        font-weight: bold;
    }
}

#general {
    display: grid;
    grid-template-columns: 1fr 1fr;
    & > h2 {
        grid-column: 1 / 3;
    }
    & > :last-child {
        grid-column: 1 / 3;
    }
}

.entry {
    border: 2px solid var(--prussian-blue);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    button {
        background-color: var(--dark-raspberry);
        width: 100%;
    }
}

label {
    display: flex;
    flex-direction: column;
}

