@font-face {
  font-family: "Carlito";
  src: url("../assets/fonts/Carlito/Carlito-Regular.ttf");
}

@font-face {
  font-family: "Carlito";
  src: url("../assets/fonts/Carlito/Carlito-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Carlito";
  src: url("../assets/fonts/Carlito/Carlito-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: bold;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffffff;
    --toffee-brown: #926644ff;
    --jungle-teal: #498467ff;
    --black: #000000ff;
    --prussian-blue: #011638ff;
}

body {
    font-family: "OpenSans", sans-serif;
}
