@font-face {
  font-family: "Carlito";
  src: url("../assets/fonts/Carlito/Carlito-Regular.ttf");
}

@font-face {
  font-family: "Carlito";
  src: url("../assets/fonts/Carlito/Carlito-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Carlito";
  src: url("../assets/fonts/Carlito/Carlito-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: bold;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --toffee-brown: #926644ff;
    --jungle-teal: #498467ff;
    --prussian-blue: #011638ff;
    --dark-raspberry: #89023eff;
}

body {
    font-family: "OpenSans", sans-serif;
}

#root {
    display: flex;
    padding: 2rem;
    height: 100svh;
    gap: 2rem;
}

#root > * {
    flex: 1;
}

